.p__opensans {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}
.p__blacksans {
  font-family: var(--font-base);
  color: var(--color-black);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}
.p__sansgrey {
  font-family: var(--font-base);
  color: var(--color-grey);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.third-txt {
  font-family: var(--font-base);
  color: var(--color-black);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 18px;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex__center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex__start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.second-txt {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.5rem;
  color: var(--color-white);
  margin-bottom: 2rem;
}
.second-txt_black {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.5rem;
  color: var(--color-black);
  margin-bottom: 2rem;
}
.orange-line {
  height: 8px;
  width: 42px;
  background: #e08631;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.app__button {
  background: var(--color-mustard);
  border-radius: 6px;
  padding: 11px 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: var(--color-white);
  border: 0;
  cursor: pointer;
}

.bold-title {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  text-align: center;
  color: var(--color-mustard);
}

@media screen and (max-width: 1170px) {
  .bold-title {
    font-size: 66px;
    line-height: 76px;
  }
}
@media screen and (max-width: 650px) {
  .second-txt {
    font-size: 2rem;
  }
  .second-txt_black {
    font-size: 2rem;
  }
  .bold-title {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }
}
