.p__opensans {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
  }
  .p__sansgrey{
    font-family: var(--font-base);
    color: var(--color-grey);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
  }
  
  .flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex__start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .second-txt{
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.5rem;
    color: var(--color-white);
    margin-bottom: 2rem;

  }
  .orange-line{
    height: 8px;
    width: 42px;
    background: #E08631;
    margin: 0 auto;
    margin-bottom: 2rem;

  }

  .app__button{
    background: var(--color-mustard);
    border-radius: 6px;
    padding: 11px 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: var(--color-white);
    border: 0;
  }

  @media screen and (max-width: 650px){

    .second-txt{
      font-size: 2rem;

  
    }

  }